@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans&display=swap');


:root {
  --font-base: 'Lexend Deca', sans-serif;
  --font-second-base: 'Open Sans', sans-serif;
  --color-bg: #111;
  --primary-color: #ffffff;
  --secondary-color: #e50914;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--primary-color);
  font-family: var(--font-base);
}

code {
font-family: 'Courier New', Courier, monospace;
}
